<!--Interpolation-->

<p class="right-bottom">User Role: <span [ngClass]="{'user': userRole === 'User', 'admin': userRole === 'Admin'}">{{userRole}}</span>
  and User Name: <span class="userName">{{userName}}</span></p>

<!--Property Binding-->
<!--ngClass-->
<div>
  <p class="left-bottom">The total Employees registered till now are:</p>
<p [ngClass]="TotalEmployees<15? 'small-age':'medium-age'" class="left-bottom-number" [textContent]="TotalEmployees"></p>
</div>
<!--Built in Directive-->
<div [ngClass]="{'buttons-right': disabled}" class="buttons">
<div >
  <!--Event Binding-->
  <button class="button" (click)="changeUserAndRole()">Change User & Role</button>
</div>
  <ng-container *ngIf="userRole!='User'">
<ng-container *ngIf="TotalEmployees>0">
<div >
  <!--Event Binding-->
  <button class="centre button" (click)="addEmployee()">Add Employee</button>
  <button class="centre button" (click)="showEmployees()">Show Employees</button>
</div>
<div ><button class="centre button" (click)="hideEmployees()">Hide Employees</button></div>
</ng-container>
  </ng-container>
</div>
<app-employees-list
        (requestEvent)="receiveFocusRequest($event)"
        [employees]="employees"
        [userRole]="userRole"
        [disabled]="disabled"
        [selectedEmployee]="receivedData"
></app-employees-list>

<!--<app-employees-list> </app-employees-list>-->

