/* Styles for the Forgot Password page */

/* Center the content both vertically and horizontally */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Cover the entire screen */
  width: 39vw;
  background-color: #f0f0f0; /* Background color for the page */
}

/* Style the card */
.card {
  width: 30vw; /* Cover 50% of the page width */
  border-radius: 1rem; /* 10px */
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 1.5rem; /* 15px */
  position: relative;
  right: 120%;
}

/* Style the card body */
.card-body {
  padding: 1.5rem; /* 15px */
  text-align: center;
}

/* Style the card header */
.card-body .text-center h2 {
  margin-top: 1rem;
}

/* Style the form */
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 0.5rem; /* 5px */
  padding: 1rem; /* 10px */
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 0.5rem; /* 5px */
  color: #fff;
  padding: 1rem 2rem; /* 10px 20px */
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

/* Style the card footer */
.card-footer {
  background-color: #f0f0f0;
  text-align: center;
}

/* Style the link in the card footer */
.card-footer a {
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

